.title{
    font-family: 'Beau Rivage';

    text-align: center;

}

.name-in{
    animation: appear 0.8s ease-in-out 1s backwards;
}

@keyframes appear{
    from{
        transform: scale(1.3);
        opacity: 0;
        filter: blur(10px);
    }to{
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes appear-img{
    from{
        filter: blur(100px);
    }to{
        filter: blur(10px);
    }
}

.bg-img{
    background-image: url("../../assets/Images/snowbg.webp");
    animation: appear-img 0.8s ease-in-out forwards;
}

.bg-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.title-screen{
    transition: all 1s ease;
}

@media (min-width: 700px) {
    @keyframes title-off-an {
        from{
            font-size: 300px;
            top: 50%;
            text-wrap: nowrap;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        to{
            font-size: 40px;
            top: 1%;
            left: 1.5%;
        }
    }
    
    @keyframes title-on-an {
        from{
            font-size: 40px;
            top: 1%;
            left: 1.5%;
        }
        to{
            font-size: 300px;
            top: 50%;
            text-wrap: nowrap;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
@media (max-width: 700px) {
    @keyframes title-off-an {
        from{
            font-size: 180px;
            top: 50%;
            text-wrap: nowrap;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        to{
            font-size: 40px;
            top: 1%;
            left: 1.5%;
        }
    }
    
    @keyframes title-on-an {
        from{
            font-size: 40px;
            top: 1%;
            left: 1.5%;
        }
        to{
            font-size: 180px;
            top: 50%;
            text-wrap: nowrap;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.title-on{
    animation: title-on-an 1s ease-in-out forwards;
}

.title-off{
    animation: title-off-an 1s ease-in-out forwards;
}

/* @keyframes title-off-an {
    from{
        font-size: 180px;
        top: 50%;
        text-wrap: nowrap;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    to{
        font-size: 40px;
        top: 1%;
        left: 1.5%;
    }
}

@keyframes title-on-an {
    from{
        font-size: 40px;
        top: 1%;
        left: 1.5%;
    }
    to{
        font-size: 180px;
        top: 50%;
        text-wrap: nowrap;
        left: 50%;
        transform: translate(-50%,-50%);
    }
} */

.hide{
    animation: hidean 0s ease-in-out 1s backwards;
}

@keyframes hidean {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.show-nav{
    animation: appear-nav .5s ease-in-out forwards;
}


@keyframes appear-nav {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.hide-nav{
    animation: hide-nav .5s ease-in-out forwards;
}



@keyframes hide-nav {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.cont-font{
    font-family: 'Beau Rivage';
}

.appear-cont{
    animation: appear 0.8s ease-in-out 1.5s backwards;
}


.hide-cont{
    animation: hide 0.8s ease-in-out forwards;
}

@keyframes hide{
    from{
        opacity: 1;
        filter: blur(0);
    }to{
        opacity: 0;
        filter: blur(10px);
        display: none;
    }
}
